# Mac OS
.DS_Store

# NPM
/node_modules
npm-*
yarn-error.log

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale

/src/lib/app-info.js

.vscode
static/sw.build.js
