@import "../../css/colors.css";
@import "../../css/units.css";

.item-row {
    margin: $space 0;
    vertical-align: middle;
}

.hidden-inset-icon {
    opacity: 0;
}

.inset-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $pen-primary;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0.25rem solid $ui-white;
    margin-right: $space;
}

.inset-icon > img {
    width: 2.5rem;
}

.item-row-name {
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
}

.item-row-name > span {
    text-align: center;
}
