@import '../../css/colors.css';
@import "../../css/units.css";

.extension-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    overflow-y: auto;
    height: auto;
    height: calc(100% - $library-header-height);
}

.extension-container.loading {
    align-content: center;
    align-items: center;
}

.extension-table {
    width: 80%;
    min-width: 900px;
    margin: calc($space * 10) 0;
}

.extension-table > thead > th {
    line-height: 2rem;
    text-align: left;
}
