@import "../../css/units.css";

.target-pane.scratch2 {
    flex-direction: row-reverse;
}

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

[dir="ltr"] .stage-selector-wrapper.scratch2 {
  margin-left: 0;
  margin-right: $space;
}

.stage-selector-wrapper {
    display: flex;
    flex-basis: 72px;
    flex-shrink: 0;
}

[dir="ltr"] .stage-selector-wrapper {
    margin-left: calc($space / 2);
}

[dir="rtl"] .stage-selector-wrapper {
    margin-right: calc($space / 2);
}
