@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 600px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
}

[theme='dark'] .body {
    background: $ui-primary-dark;
}

.body > * {
    margin: $space 0;
}
