@import "../../css/colors.css";
@import "../../css/units.css";

.switch-main {
    width: 60px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
    outline: solid $ui-black-transparent 1px;
}

.switch-switcher {
    min-width: 30px;
}
